*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
.hero span{
    text-shadow: 3px 0px 1px gold;

}
.container{
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#home{
    background: url(images/5.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   
}
#about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;

}
.left{
    flex-basis: 50%;    
    height: 100%;
    margin: 3rem;
    padding: 2rem;
    
}
.right{
    flex-basis: 50%;    
    height: 100%;
    margin: 3rem;
    padding: 2rem;
    margin-top: 5rem;
}
.left div{
    height: 100%;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s;
}
.left img{
    height: 70%;
    width: 100%;
    border-radius: 20px;
    filter: brightness(100%);
    
}
.left div:hover img{
    transform: scale(1.1);
}
.tablinks{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.tab-link{
    cursor: pointer;
    font-size: clamp(1rem,1.5rem,1.8rem);
    font-weight: bold;
    position: relative;
}
.tab-link::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: coral;
    position: absolute;
    left: 0;
    bottom: -2px;
}
.tab-link.active-link::after{
    width: 20px;
}
.hero{
margin-left: 2em;
font-size: 3rem;

width: 100vw;
position: absolute;
top: 50%;

}

.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;    
    background-color: rgba(8, 8, 8,0.5);
}
#logo{
    font-size: 2rem;
}
#logo span{
    color: crimson;
}
nav ul{
    list-style: none;
    display: flex;


}
nav ul li a{
    display: flex;    
    text-decoration: none;
    color: rgb(217, 216, 218);
    margin: 5px;
    padding: 2px;
}
nav ul li a i{
    
    padding: 1px;
    border-radius: 50%;
    margin-right: 5px;
    align-items: center;
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
}
nav ul li a:hover{
    background-color: azure;
    color: black;
    border-radius: 5px;
}
nav ul li a i:hover{
    color: black;
    
}
.contact{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 1em;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(44, 32, 32, 0.507);
}
.message{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    overflow: none;
    margin-top: 2rem;
    padding: 2rem;
    height: 80%;
    
}
.message h2{
    font-weight: 500;
    color: rgb(94, 55, 48);
}
.socials{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin: 2em;
    height: 60vh;
    padding: 3em;
    padding-left: -4em;
    border-radius: 15px;
    padding-top: 1rem;
    background-color: rgba(34, 32, 32, 0.407);
}
.socials i{
    font-size: 2.5em;
    color: rgb(194, 204, 77);
    padding-left: 2em;
    
}
.socials i span{
    margin-left: 10px;
    font-size: 2rem;
    align-items: center;
    color: rgb(254, 251, 251);
}
.form-input form{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.form-input form input{
padding: 1.5em;
margin-top: 40px;
width: 100%;
border:  none;
outline: none;
border-radius: 5px;
font-size: large;
color: black;
caret-color: brown;
text-transform: capitalize;
font-weight: 700;
}
.form-input form input::placeholder{
    font-size: large;
    color: black;font-weight: 500;
}
.form-input form button{
    padding: 1.5em;
margin-top: 40px;
width: 50%;
border:  none;
outline: none;
border-radius: 5px;
background-color: dodgerblue;
font-size: large;
}
.descriptor{
text-wrap: nowrap;
}


